<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="/images/upstream.png" width="120" class="d-inline-block align-top" alt="Upstream">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav align-right">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/watch">Watchlist</a>
      <a class="nav-item nav-link active" href="#">Reviews <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div id="reviews">
  <div class="container bkgd-white">
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12 centered">
        <h1>User Reviews</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 constrain">
            <ul id="review-list" class="list-group">
                {{#each Posts}}
                  {{#if Review}}
                    <li data-id="{{this.id}}" class="list-group-item">
                      <div class="row">
                        {{!-- <div class="col-lg-3 col-md-3 mb-3 col-xs-3">
                          <img src="{{this.Cover_Photo_Url}}" height="150px">
                        </div> --}}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h6><img src="{{this.Cover_Photo_Url}}" class="float-left" height="150px">{{this.Title}}</h6>
                          <p>{{this.Review}}</p>
                        </div>
                      </div>
                    </li>
                  {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
  </div>
</div>
