<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="/images/upstream.png" width="120" class="d-inline-block align-top" alt="Upstream">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav align-right">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link active" href="#">Watchlist <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/reviews">Reviews</a>
    </div>
  </div>
</nav>

{{!-- <div id="login">
    <div class="container bkgd-white">
      <div class="row top-bottom-pad">
        <div class="col-lg-12 col-md-12 mb-12">
          <h5 class="centered">You must be logged in to add a movie to your watchlist.</h5>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 mb-6">
              <h6>New Users: create account</h6>
              <form method="POST" action="/register">
                  <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" id="username" class="form-control" aria-describedby="username" placeholder="Choose a user name">
                  </div>
                  <div class="form-group">
                      <label for="username">Password</label>
                      <input type="password" id="password" class="form-control" aria-describedby="password" placeholder="Choose a password (8 to 20 characters)">
                  </div>
                  <div class="form-group">
                      <label for="username">Re-enter Password</label>
                      <input type="password" id="passwordMatch" class="form-control" aria-describedby="passwordMatch" placeholder="Re-enter your password">
                  </div>
                  <button id="submitNewUser" class="btn btn-primary float-right">Submit</button>
              </form>
          </div>
          <div class="col-lg-6 col-md-6 mb-6">
              <h6>Already have an account? Log in:</h6>
              <form method="POST" action="/login">
                  <div class="form-group">
                      <label for="usernameReturningUser">Username</label>
                      <input type="text" id="usernameReturningUser" class="form-control" aria-describedby="usernameReturningUser" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                      <label for="passwordReturningUser">Password</label>
                      <input type="password" id="passwordReturningUser" class="form-control" aria-describedby="passwordReturningUser" placeholder="Enter password">
                  </div>
                  <button id="submitReturningUser" class="btn btn-primary float-right">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div> --}}

<!-- watch div with animation -->
<div id="watch">
  <div class="container bkgd-white">
    <div class="row">
      <div class="col-md-12 centered">
        <h1>Your Streaming Watchlist</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Movies to Watch:</h4>
              {{#each Posts}}
                {{#unless Watched}}
                <div data-aos="fade-left">
                  <h5>{{this.Title}}</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <p><img src="{{this.Cover_Photo_Url}}" class="float-left" height="150px">{{this.Info}}</p>
                      {{!-- <p>{{this.Steaming_Sources}}</p> --}}
                      <button class="btn btn-primary btn-sm watched" data-id="{{this.id}}">Watched</button>
                      <button class="btn btn-primary btn-sm delete" data-id="{{this.id}}">Delete from watchlist</button>
                      {{!-- <p>
                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          More Info:
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body"> --}}
                          {{!-- <p>Rated: </p> --}}
                          {{!-- <p>Actors: {{this.Actors}}</p> --}}
                          {{!-- <p>Release Date: {{this.Release_Date}}</p> --}}
                          {{!-- {{#if Steaming_Services}}
                            <p>Streaming Services: {{this.Steaming_Services}}</p>
                          {{/if}}
                        </div>
                      </div> --}}
                    </div>
                  </div>
                </div>
                <hr>
              {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6 col-sm-12 clearfix">
          <h4>Seen It:</h4>
              {{#each Posts}}
                {{#if Watched}}
                <div data-aos="fade-right">
                  <h5>{{this.Title}}</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <p><img src="{{this.Cover_Photo_Url}}" class="float-left" height="150px">{{this.Info}}</p>
                      {{!-- <p>{{this.Steaming_Sources}}</p> --}}
                      <button class="btn btn-primary btn-sm delete" data-id="{{this.id}}">Delete from watched movies</button>
                      {{!-- <p>
                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          More Info:
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body"> --}}
                          {{!-- <p>Rated: </p> --}}
                          {{!-- <p>Actors: {{this.Actors}}</p> --}}
                          {{!-- <p>Release Date: </p> --}}
                          {{!-- {{#if Steaming_Services}}
                            <p>Streaming Services: {{this.Steaming_Services}}</p>
                          {{/if}}
                        </div>
                      </div> --}}
                    </div>
                    </div>
                  </div>
                  <hr>
                {{/if}}
              {{/each}}
        </div>
    </div>
    </div>
  </div>
  <!-- review form -->
 <div data-aos="slide-up">
  <div class="container bkgd-white">
    <div class="row">
      <div class="col-md-12 centered">
        <h4>Submit Your Review</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 constrain">
          <form>
            <div class="form-group">
                <label for="movieTitles">Title</label>
                <select class="form-control" id="movieTitles">
                  {{#each Posts}}
                    <option value="{{this.id}}">{{this.Title}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="reviewText">What did you think of it?</label>
                <textarea class="form-control" id="reviewText" rows="3"></textarea>
            </div>
            <button id="submitReview" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
