<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="/images/upstream.png" width="120" class="d-inline-block align-top" alt="Upstream">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav align-right">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link active" href="#">Watchlist <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/reviews">Reviews</a>
    </div>
  </div>
</nav>

{{!-- <div id="login">
    <div class="container bkgd-white">
      <div class="row top-bottom-pad">
        <div class="col-lg-12 col-md-12 mb-12">
          <h5 class="centered">You must be logged in to add a movie to your watchlist.</h5>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 mb-6">
              <h6>New Users: create account</h6>
              <form method="POST" action="/register">
                  <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" id="username" class="form-control" aria-describedby="username" placeholder="Choose a user name">
                  </div>
                  <div class="form-group">
                      <label for="username">Password</label>
                      <input type="password" id="password" class="form-control" aria-describedby="password" placeholder="Choose a password (8 to 20 characters)">
                  </div>
                  <div class="form-group">
                      <label for="username">Re-enter Password</label>
                      <input type="password" id="passwordMatch" class="form-control" aria-describedby="passwordMatch" placeholder="Re-enter your password">
                  </div>
                  <button id="submitNewUser" class="btn btn-primary float-right">Submit</button>
              </form>
          </div>
          <div class="col-lg-6 col-md-6 mb-6">
              <h6>Already have an account? Log in:</h6>
              <form method="POST" action="/login">
                  <div class="form-group">
                      <label for="usernameReturningUser">Username</label>
                      <input type="text" id="usernameReturningUser" class="form-control" aria-describedby="usernameReturningUser" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                      <label for="passwordReturningUser">Password</label>
                      <input type="password" id="passwordReturningUser" class="form-control" aria-describedby="passwordReturningUser" placeholder="Enter password">
                  </div>
                  <button id="submitReturningUser" class="btn btn-primary float-right">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div> --}}

<div id="watch">
  <div class="container bkgd-white">
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12 centered">
        <h1>Your Streaming Watchlist</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 mb-6">
            <h4>Movies to Watch:</h4>
              {{#each Posts}}
                {{#unless Watched}}
                  <h5>{{this.Title}}</h5>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 mb-3">
                      <img src="{{this.Cover_Photo_Url}}" height="150px">
                    </div>
                    <div class="col-lg-9 col-md-9 mb-9">
                      <p>{{this.Info}}</p>
                      <p>{{this.Steaming_Sources}}</p>
                      <button class="btn btn-primary btn-sm watched" data-id="{{this.id}}">Watched</button>
                    </div>
                  </div>
                  <hr>
                {{/unless}}
              {{/each}}
        </div>
        <div class="col-lg-6 cl-md-6 mb-6">
          <h4>Seen It:</h4>
              {{#each Posts}}
                {{#if Watched}}
                  <h5>
                    {{this.Title}}
                    {{!-- <button class="btn btn-primary btn-sm review" data-id="{{this.id}}">Review it</button> --}}
                  </h5>
                  <hr>
                {{/if}}
              {{/each}}
        </div>
    </div>
  </div>
  <!-- review form -->
  <div class="container bkgd-white">
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12 centered">
        <h4>Submit Your Review</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
          <form>
            <div class="form-group">
                <label for="reviewTitle">Title</label>
                <input type="text" class="form-control" id="reviewTitle"></input>
            </div>
            <div class="form-group">
                <label for="reviewTextarea1">What did you think of it?</label>
                <textarea class="form-control" id="reviewTextarea1" rows="3"></textarea>
            </div>
            <button id="submitReview" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
